@(title: String)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/Chart.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/main.js")"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
    </head>
<body>