@(movie : models.Movie)(genres : List[models.Genre])(description : String)

@main("Movie Database: Movie Description") {
    <h2>Movie Description:
        <small>
    <dl class="dl-horizontal">
        <dt>Title:</dt>
        <dd>@movie.title</dd>
        <dt>Avg. vote score: </dt>
        <dd>@movie.vote_average</dd>
        <dt>Genres:  </dt>
        <dd>@for(p<-genres){
            @p.name,
        }</dd>
        <dt>Plot: </dt>
        <dd>@description</dd>
    </dl>
        </small>
    </h2>
}