@(values : List[models.Genre])(counts : List[Integer])

@main("Movie Database: Top Genre") {
    <div class="row">
        <div id="pie-chart-legend" class="col-md-3">
            <ul>@for(p <- counts) {
                <li class="counts">@p</li>
            }
            </ul>
            <ul >@for(p <- values) {
                <li class="genres">
                    <span ></span>@p.name</li>
            }
            </ul>
        </div>
        <div class="col-md-6 center-block">
        <div id="canvas-holder">
            <canvas id="chart-area" width="450" height="450"/>
        </div>
        </div>
    </div>


    <script>
        window.onload = loadPieChart();
    </script>
}
